$color_1: var(--default-btn-color);
$color_2: var(--hover-btn-color);

/* button settings */
@keyframes chitchat {
	0% {
		content: "#";
	}
	5% {
		content: ".";
	}
	10% {
		content: "^{";
	}
	15% {
		content: "-!";
	}
	20% {
		content: "#$_";
	}
	25% {
		content: "№:0";
	}
	30% {
		content: "\u0023\u007B\u002B\u002E";
	}
	35% {
		content: "\u0040\u007D\u002D\u003F";
	}
	40% {
		content: "?{4@%";
	}
	45% {
		content: "=.,^!";
	}
	50% {
		content: "?2@%";
	}
	55% {
		content: "\;1}]";
	}
	60% {
		content: "?{%:%";
		right: 0;
	}
	65% {
		content: "|{f[4";
		right: 0;
	}
	70% {
		content: "{4%0%";
		right: 0;
	}
	75% {
		content: "'1_0<";
		right: 0;
	}
	80% {
		content: "{0%";
		right: 0;
	}
	85% {
		content: "]>'";
		right: 0;
	}
	90% {
		content: "4";
		right: 0;
	}
	95% {
		content: "2";
		right: 0;
	}
	100% {
		content: "";
		right: 0;
	}
}
.post-item {
	.post-item-date {
		--btn-default-bg: rgb(24,23, 22);
		--btn-padding: 2px 10px;
		--btn-hover-bg: rgb(24,23, 22);
		--btn-transition: .3s;
		--btn-animation-duration: 1.2s;
		--btn-shadow-color: rgba(0, 0, 0, 0.137);
		--btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
		--hover-btn-color: #FAC921;
		--default-btn-color: #eee;
        --font-size:13px;
		--font-family: Menlo,Roboto Mono,monospace;
		box-sizing: content-box;
        border-radius:8px;
		padding: var(--btn-padding);
		display: flex;
        margin-right: 10px;
		align-items: center;
		justify-content: center;
		color: $color_1;
		font: var(--font-weight) var(--font-size) var(--font-family);
		background: var(--btn-default-bg);
		border: none;
		transition: var(--btn-transition);
		overflow: hidden;
		box-shadow: var(--btn-shadow);
		span {
			transition: var(--btn-transition);
			box-sizing: border-box;
			position: relative;
			background: inherit;
			&::before {
				box-sizing: border-box;
				position: absolute;
				content: "";
				background: inherit;
			}
		}
		&:hover {
			background: var(--btn-hover-bg);
			&:focus {
				background: var(--btn-hover-bg);
			}
			span {
				color: $color_2;
				&::before {
					animation: chitchat linear both var(--btn-animation-duration);
				}
			}
		}
		&:focus {
			span {
				color: $color_2;
				&::before {
					animation: chitchat linear both var(--btn-animation-duration);
				}
			}
		}
	}
}
