---
layout: default
---
{% include header.html %}
<section class="section is-large">
  <main class="page-content" aria-label="Content">
    <div class="container  is-max-desktop">
      <section class="section is-large">
        <ul>
          {% for post in site.posts %}
            <li>
              <span class="is-date"> {{ post.date | date: "%d %b %y" }} </span> {{post.icon}}<a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </section>
</main>
</section>


{{ content }}
