---
layout: default
permalink: /jurnal
---

{{ content }}
{% assign contentwonl = content | strip_newlines %} {% unless contentwonl == ""  %} <br /> {% endunless %} <!-- add line break if there is any content -->
<h2>jurnal <mark>/jur·nal/</mark></h2>
<p>Jurnal adalah sebuah catatan yang dibuat berisikan tentang <i>kegiatan,peristiwa,atau pemikiran_ yang terjadi.</i></p>
<h2>Jurnal : </h2>
{%- if site.posts.size > 0 -%}
  <ul>
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = "%Y-%m-%d" -%}
       {{ post.date | date: date_format }} ./<a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </li>
    {%- endfor -%}
  </ul>
{%- endif -%}