---
layout: default
---

<div class="container  is-max-desktop">
  <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <!-- Hero content: will be in the middle -->
  <section class="hero">
    <div class="hero-body">
      <p class="title">
        {{ page.title}}
      </p>
      <p class="subtitle">
        {{ page.description }}
      </p>
      {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}
    {% for category in categories %}
    <a href="{{site.baseurl}}/categories/{{category|slugize}}">{{category}}</a>
    {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
    </div>
  </section>
    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
    </div>
    {% include disqus_comments.html %}
    {% include breadcrumbs.html %}
  
    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </article>
</div>
