---
layout: default
---

<div class="container  is-max-desktop">
  <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <!-- Hero content: will be in the middle -->
  <section class="hero">
    <div class="hero-body">
      <p class="title">
        {{ page.title}}
      </p>
      <p class="subtitle">
        {{ page.description }}
      </p>
      {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}
    {% for category in categories %}
    <a href="{{site.baseurl}}/categories/{{category|slugize}}">{{category}}</a>
    {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
    </div>
  </section>
    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
    </div>
    {% include breadcrumbs.html %}
    <hr/>
    <div class="columns">
      <div class="column is-three-quarters">
        {% include disqus_comments.html %}
      </div>
      <div class="column">
        
        <div class="card rangkum">
          <div class="card-content">
            <p class="title">
              
              “{{post.rangkum}}”
            </p>
            <p class="subtitle">
             - UKI
            </p>
          </div>

        </div>

      </div>
    </div>
  
    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </article>
</div>
