---
layout: default
pagination: 
  enabled: true
---

<div class="container  is-max-desktop">
  <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <!-- Hero content: will be in the middle -->
  <section class="hero">
    <div class="hero-body">
      <a href="/"> &#8592; </a>
      <p class="title">
        {{ page.title}}
      </p>
      <p class="subtitle">
        {{ page.description }}
      </p>

      <div class="columns">
        <div class="column is-one-quarter">
          <p>

            {% if post %}
            {% assign categories = post.categories %}
          {% else %}
            {% assign categories = page.categories %}
          {% endif %}
          {% for category in categories %}
          <a href="{{site.baseurl}}/categories/{{category|slugize}}">{{category}}</a>
          {% unless forloop.last %}&nbsp;{% endunless %}
          {% endfor %}

          </p>


        </div>
      </div>
    </div>
  </section>
    <div class="post-content e-content" itemprop="articleBody">
      <div id="table-of-contents">
        {% toc %}
      </div>
      <div id="markdown-content">
        {{ content }}
      </div>
      <div class="post-meta">
        {% if page.author %}
          <div itemprop="author" class="penulis"><i>{{ page.author }}</i></div>
        {% endif %}
        <time class="posts-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
      </div>
      <hr/>
      {% include disqus_comments.html %}
      {% include post-pagination.html %}
    </div>
  
    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </article>
</div>
